body {
  font-family: Arial, sans-serif;
  background-color: #f7f8fa;
  padding: 40px;
}

h1 {
  color: #333;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 12px 12px 20px rgba(0,0,0,0.1);
  border-radius: 20px;
}

th, td {
  padding: 12px 16px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}



#total {
  text-align: center;
  margin-top: 20px;
  font-size: 1.3rem;
  color: #222;
  border-radius: 20px;
}
