<div class="container">
    <div class="row g-0">
        <div class="col-12">
            <div class="text-center">
                <div class="card shadow-sm p-2">
                    <div class="d-flex justify-content-center mb-1">
                        <img [src]="miUsuario.image" class="rounded-circle"style="width: 100px;">
                    </div>
                    <h6 class="card-title mb-2">
                        {{miUsuario.first_name}} {{miUsuario.last_name}}
                    </h6>
                    <div class="d-flex justify-content-center gap-2">
                        <button class="btn btn-outline-success btn-sm d-flex flex-column align-items-center border-0"(click)="seeDetails(miUsuario)">
                            <i class="bi bi-eye fs-5"></i><small style="font-size: 0.7rem;">Ver detalles</small>
                        </button>
                        <button class="btn btn-outline-primary btn-sm d-flex flex-column align-items-center border-0"(click)="updateUser()">
                            <i class="bi bi-arrow-repeat fs-5"></i><small style="font-size: 0.7rem;">Actualizar</small>
                        </button>
                        <button class="btn btn-outline-danger btn-sm d-flex flex-column align-items-center border-0"(click)="deleteUser(miUsuario)">
                            <i class="bi bi-trash fs-5"></i><small style="font-size: 0.7rem;">Eliminar</small>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
