<section>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Unidad</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      @for(productos of arrayProductos; track productos.sku){
      <tr>
        <td>SKU: {{productos.sku}} <br>{{productos.title}}</td>
        <td>
          
        </td>
        <td>u</td>
        <td>t</td>
      </tr>
      }
    </tbody>

  </table>
</section>