<section>
  <table class="table mt-5 table-bordered shadow">
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Unidad</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      @for(productos of arrayProductos; track productos.sku; let i = $index){
      <tr>
        <td><h2>{{productos.title}}</h2><p>SKU: {{productos.sku}} </p><br>
        <td>
          <button class="btn btn-danger shadow" type="button" id="menos" (click)="btnRestar(i)">-</button>
          <input id="cantidad" type="text" class="text-center" [value] = "cantidad[i]">
          <button class="btn btn-success shadow" type="button" id="mas" (click)="btnSumar(i)">+</button>
        </td>
        <td>€ {{productos.price}}</td>
        <td>t</td>
      </tr>
      }
    </tbody>

  </table>
</section>