
h1{
    color: aliceblue;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}