<header class="flex flex-wrap sm:justify-start sm:flex-nowrap w-full bg-gray-900 text-gray-800 py-4">
  <nav class="max-w-340 w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between">
    <a class="flex-none font-semibold text-xl text-black focus:outline-hidden focus:opacity-80 dark:text-white" href="#" aria-label="Brand">Pramirk</a>
    <div class="flex flex-row items-center gap-5 mt-5 sm:justify-end sm:mt-0 sm:ps-5">
      <a class="font-medium text-blue-500 focus:outline-hidden" [routerLink]="['/home']" aria-current="page">Home</a>
      <a class="font-medium text-gray-600 hover:text-gray-400 focus:outline-hidden
       focus:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500 dark:focus:text-neutral-500" [routerLink]="['/form']">Nuevo Producto</a>
      <a class="font-medium text-gray-600 hover:text-gray-400 focus:outline-hidden
       focus:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500 dark:focus:text-neutral-500" [routerLink]="['/productList']">Productos</a>
    </div>
  </nav>
</header>