.form-control:focus {
    background-color: #5f5f5f;
    color: white;
}

.form-control::placeholder {
    color: #5b5e61;
}

.btn-primary {
      background-color: rgba(240, 16, 16, 0.8);
      border-color: firebrick;
}

.btn-primary:hover {
      background-color: rgba(139, 10, 10, 0.8);
      border-color: firebrick;
}

.btn-primary:active {
    transform: scale(0.98);
}

.btn-outline-secondary {
    border-color: #974a4a;
}

.btn-outline-secondary:hover {
    background-color: rgba(255, 0, 0, 0.2);
    border-color: #6c757d;
    color: white;
    transform: scale(1.02);
}

.btn-outline-secondary:active {
    transform: scale(0.98);
}

.bg-secondary.bg-opacity-25 {
    background-color: rgba(214, 39, 39, 0.15) !important;
}